.homePage {
  height: 100%;
  display: flex;
}
.homeContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid black;
  border-radius: 8px;
  margin: auto;
  padding: 10px;
  min-height: 340px;
  justify-content: space-between;
  box-shadow: 0px 6px 10px #0000004d;
}
.block {
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 10px;
  border-bottom: 1px solid #c7c7c7;
}
.headerText {
  font-weight: 600;
  margin-bottom: 10px;
}
.winBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resultsBlock {
  padding: 8px;
}
.resultsBlock > p {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 560px) {
  .homeContainer {
    width: calc(100% - 40px);
    padding: 6px;
  }
}
